@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

.TODO {
  font-size: 1.3em;
  background: linear-gradient(
      to right,
      black,
      #03fc88,#2cbf53,black
  );
  animation: background-pan 3s linear infinite;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  font-weight: 800;
}

.TODO:hover {
  font-size: 1.3em;
  background:  #03fc88;
  
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  font-weight: 800;
}